body {
    background: linear-gradient(135deg, #ff9a9e, rgb(0, 255, 255), #fad0c4, #ff9a9e);
    background-size: 400% 400%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 300px;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
    font-size: 1em;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="hidden"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: 2px solid #ff9a9e;
    background: rgba(255, 255, 255, 0.9);
}

input[type="submit"] {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff9a9e, #ff6f61);
    transition: background 0.4s, transform 0.3s, box-shadow 0.3s;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: none;
}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #fff, #e5e5e5);
    color: #ff6f61;
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
